body {
   background-color: hsl(185, 41%, 84%);
   font-family: 'Space Mono', serif;
   font-size: 16px;
   font-weight: 400;
   margin: 0;
}

.container {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
}

header {
   display: flex;
   justify-content: center;
   color: hsl(183, 100%, 15%);
   text-transform: uppercase;
   letter-spacing: .7rem;
   margin: .5rem 0 .5rem 0;
   font-weight: 700;
   padding-top: 3rem;
}

h1 {
   font-size: 1.5rem;
}

main {
   display: flex;
   flex-flow: column wrap;
   background-color: hsl(0, 0%, 100%);
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   margin-top: 1.5rem;
   padding-bottom: 1rem;
}

.calculator-input {
   flex: 1;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
   padding: 1.7rem;
   color: hsl(186, 14%, 43%);

}

.calc-input-section {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: column wrap;
}

.icon-input {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: hsl(189, 41%, 97%);
   font-size: 1.5rem;
   margin-top: .5rem;
   color: hsl(184, 14%, 56%);
   border-radius: 6px;
}

.input-full {
   border: 0;
   width: 90%;
   font-family: "Space Mono", serif;
   background-color: hsl(189, 41%, 97%);
   /* background-color: hotpink; */
   font-size: 1.5rem;
   font-weight: 500;
   text-align: right;
}

.percent,
.quantity {
   margin-top: 2rem;
}

.percent-button-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.percent-buttons {
   border: 0;
   font-family: "Space Mono", serif;
   font-weight: 500;
   font-size: 1.5rem;
   width: 45%;
   margin-top: 1rem;
   padding: .4rem 0rem .4rem 0rem;
   border-radius: 6px;
}

.inactive {
   background-color: hsl(183, 100%, 15%);
   color: hsl(0, 0%, 100%);
}

.active {
   background-color: hsl(172, 67%, 45%);
   color: hsl(183, 100%, 15%);
}

#percent-button-custom {
   background-color: hsl(189, 41%, 97%);
   width: 40%;
   border-radius: 6px;
   height: 48.78px;
   font-family: "Space Mono", serif;
   font-weight: 500;
   text-align: right;
   font-size: 1.5rem;
   padding-right: 1rem;
   padding-top: 0;
   padding-bottom: 0;
}

.calculator-output {
   flex: 1;
   background-color: hsl(183, 100%, 15%);
   color: hsl(0, 0%, 100%);
   margin: 1.5rem;
   border-radius: 15px;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-bottom: 1.5rem;
}

.calc-output-section {
   display: flex;
   justify-content: space-between;
}

.amount-tip {
   padding-top: 2.5rem;
}

.amount-total {
   padding-top: 1.5rem;
}

.amount {
   font-size: 3rem;
   color: hsl(172, 67%, 45%);
}

.disabled {
   background-color: hsl(186, 14%, 43%);
   color: hsl(183, 100%, 15%);
}

.enabled {
   background-color: hsl(172, 67%, 45%);
   color: hsl(183, 100%, 15%);
   cursor: pointer;
}

#reset {
   display: flex;
   justify-content: center;
   width: 100%;
   border: none;
   border-radius: 6px;
   font-family: "Space Mono", serif;
   font-weight: 500;
   font-size: 1.5rem;
   text-transform: uppercase;
   margin-top: 1.5rem;
}

.error {
   border: 2px red solid;
   border-radius: 5gpx;
}

.hide {
   display: none;
}

.attribution { 
   font-size: 11px; 
   text-align: center; 
   background-color: hsl(0, 0%, 100%);
   margin-top: 1rem;
   padding: 1rem;
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {

   .container {
      flex-wrap: wrap;
      justify-content: center;
   }

   header {
      flex-basis: 100%;
   }

   main {
      flex-flow: row wrap;
      width: 90%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
   }

   .percent-buttons {
      width: 31%;
   }

   #percent-button-custom {
      width: 25%;
      font-size: 1.25rem;
   }

   #reset {
      margin-top: 8.5rem;
   }

   .attribution {
      background-color: hsl(185, 41%, 84%);
   }
}

@media (min-width: 925px) {
  
   #percent-button-custom {
      font-size: 1.5rem;
   }
}

@media (min-width: 1200px) {
  
   main {
      width: 70%;
   }
}