body {
   background-color: #c5e4e7;
   font-family: 'Space Mono', serif;
   font-size: 16px;
   margin: 0;
}

header {
   display: flex;
   justify-content: center;
   color: #00474b;
   text-transform: uppercase;
   letter-spacing: .7rem;
   margin: 1rem 0 .7rem 0;
}

main {
   display: flex;
   flex-flow: column wrap;
   background-color: #fff;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   padding-bottom: 1rem;
}

.calculator-input {
   flex: 1;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
   padding: 1.7rem;
   color: #697778;
}

.calc-input-section {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: column wrap;
}

.icon-input {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   background-color: #f3f8fb;
   font-size: 1.25rem;
   margin-top: .5rem;
   color: #adc5c5;
}

.input-full {
   border: 0;
   width: 90%;
   font-family: "Space Mono", serif;
   background-color: #f3f8fb;
   font-size: 1.5rem;
   text-align: right;
}

.percent,
.quantity {
   margin-top: 2rem;
}

.percent-button-container {
   display: flex;
   flex-flow: row wrap;
}

.percent-buttons {
   border: 0;
   font-family: "Space Mono", serif;
   font-size: 1.5rem;
   width: 140px;
   margin-top: 1rem;
   padding: .4rem 0rem .4rem 0rem;
   border-radius: 6px;
}

.inactive {
   background-color: #00474b;
   color: #fff;
}

.active {
   background-color: #26c2ad;
   color: #00474b;
}

#percent-button-custom {
   border: 0;
   background-color: #f3f8fb;
   width: 122px;
   border-radius: 6px;
   height: 48.78px;
   margin-top: -10px;
   font-family: "Space Mono", serif;
   text-align: right;
   font-size: 1.25rem;
   padding-right: 1rem;
}

.calculator-output {
   flex: 1;
   background-color: #00474b;
   color: #fff;
   margin: 1.5rem;
   border-radius: 15px;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-bottom: 1.5rem;
}

.calc-output-section {
   display: flex;
   justify-content: space-between;
}

.amount-tip {
   padding-top: 2.5rem;
}

.amount-total {
   padding-top: 1.5rem;
}

.amount {
   font-size: 3rem;
   color: #26c2ad;
}

#reset {
   display: flex;
   justify-content: center;
   width: 100%;
   border: none;
   border-radius: 6px;
   font-family: "Space Mono", serif;
   font-size: 1.5rem;
   text-transform: uppercase;
   background-color: #26c2ad;
   color: #00474b;
   margin-top: 1.5rem;
}

.error {
   border: 1px red solid;
   border-radius: 3px;
}

.hide {
   display: none;
}

.attribution { 
   font-size: 11px; 
   text-align: center; 
   background-color: #fff;
   margin-top: 0;
   padding: 1rem;
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {

   .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   header {
      flex-basis: 100%;
   }
   main {
      flex-flow: row wrap;
      width: 60%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
   }

   .attribution {
      background-color: #c5e4e7;
   }
}